@keyframes spin {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}

body {
  margin: 0;
  overflow: hidden;

  position: relative;
  font-family: 'Crimson Pro', serif;
}

body::before {
  content: "";

  display: block;
  width: 100vw;
  height: 100vh;

  background: black;
  opacity: 0;
  pointer-events: none;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transition: all .32s ease;
}

body::after {
  content: "";

  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid white;
  border-block-start-color: transparent;

  border-radius: 1000px;
  opacity: 0;
  pointer-events: none;

  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 10;

  transition: all .32s ease;
  animation: spin 1s linear infinite;
}

body.loading::before,
body.loading::after {
  opacity: 1;
}

.canvas__wrapper {
  display: block;
  width: 100vw;
  height: 100vh;

  position: relative;

  overflow: hidden;
}

.canvas {
  width: 100% !important;

  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.clues-container {
  display: flex;
  gap: .5rem;
  position: absolute;
  top: 3rem;
  right: 3rem;
  color: white;
  z-index: 20;
  font-size: 2rem;
}

.progression-container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 3rem;
  transform: translateY(-50%);
  z-index: 20;
}

.progression-coin {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 32px;
  box-shadow: inset 0 0 0 2px black;
  outline: 2px solid white;
}

.progression-coin__completed {
  background: white;
}

.begin {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 160px;
  transition: all .8s ease-in;
}

.begin__logo {
  width: 50%;
  height: auto;
}

.begin__text {
  color: white;
  font-size: 32px;
}

.disappear {
  opacity: 0;
  pointer-events: none;
  z-index: -1;
}

.success {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 64px 0;
  width: 100%;
  font-size: 32px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  opacity: 0;
  transition: all .3s ease-in;
}

.success__visible {
  display: flex;
  opacity: 1;
}